<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <title>ecomm</title>
</head>
<body>
    <nav style="margin-bottom: 1em"class="navbar navbar-light bg-light navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <div class="navbar-header ">
                <a href="/" class="navbar-brand">EComm</a>
            </div>
            <div  class="collapse navbar-collapse" >
                <ul class="nav navbar-nav navbar-right ml-auto">
                    
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Categories
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <%category.forEach((category)=>{%>
                                <a class="dropdown-item" href="/showcat/<%-category._id%>"><%-category.name%></a>
                            
                              <%})%>
                               
                            </div>
                          </div>
                        <li class="nav-item"><a class="nav-link" href="/cart/">Cart</a></li>
                        <%if(!currentUser){%>
                          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                          <li class="nav-item"><a class="nav-link" href="/register">Sign up</a></li><%}else{%>
                              <li class="nav-item"><a href="#">Signed in as <%-currentUser.username%></a>   </li>
                          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li><%}%>
                </ul>
            </div>
        </div>
    </nav>
    
    